@model TESTWebApp.Models.WorkInputViewModel
@using TESTWebApp.Domain.Models.WorkInputs;

@section LogOutBtn{
    <button type="button" class="btn btn-danger fw-bold" onclick="location.href='@Url.Action("Logout","Home")'">ログアウト</button>
}
@section DispLoginUser{
    <b class="navbar-brand">@Model.userData.UserName さん、こんにちは</b>
}
@{
    string majorWorkItemIdByCurrentTask = string.Empty;
    string middleWorkItemIdByCurrentTask = string.Empty;
    string minorWorkItemIdCurrentTask = string.Empty;
    if (Model.LatestWorkData is not null)
    {
        majorWorkItemIdByCurrentTask = Model.LatestWorkData.MajorWorkItemId;
        middleWorkItemIdByCurrentTask = Model.LatestWorkData.MiddleWorkItemId;
        minorWorkItemIdCurrentTask = Model.LatestWorkData.MinorWorkItemId;
    }
}

<div class="chuuou">
    <div class="container body-content">
        <!--時間表示-->
        <div class="chuuou">
            <p id="now" style="font-size:200%; font-weight:bold"></p>
        </div>

        <!--ステータス表示-->
        @{
            if (Model.Work)
            {
                <div class="chuuou">
                    <h3 style="font-size:200%;"><b class="flash3s" style="color:#32cd32">● </b><b>@Model.WodrkStatusMsg</b></h3>
                </div>
            }
        }

        <form asp-action="ExcecuteWork" method="POST" onsubmit="return checkNijyuSubmit();">
            <!--PostData-->
            <input hidden  id="TmpFormMajorWorkItemId" asp-for="MajorWorkItemId" value="@majorWorkItemIdByCurrentTask"/>
            <input hidden id="TmpFormMiddleworkItemId" asp-for="MiddleWorkItemId" value="@middleWorkItemIdByCurrentTask"/>
            <input hidden id="TmpFormMinorworkItemId" asp-for="MinorWorkItemId" value="@minorWorkItemIdCurrentTask" />
            <input hidden id="workStatus" asp-for="InputWorkStatus" value="@Model.BeforeWorkStatus" />

            <!--作業項目大　選択-->
@*            <div class="chuuou">
                <div id="selectWorkdiv" class="selectdiv">
                    <label>
                        @{
                            if (Model.Work)
                            {
                                <select id="selsectWorkItem" asp-items="Model.SelectMajorWorkItems">
                                    <option hidden value="@Model.LatestWorkData.MajorWorkItemId">@Model.LatestWorkData.MajorWorkItemName</option>
                                </select>
                            }
                            else
                            {
                                <select class="flash1s" id="selsectWorkItem" asp-items="Model.SelectMajorWorkItems">
                                    <option hidden value="hidden">大作業項目(必須選択)</option>
                                </select>
                            }
                        }
                    </label>
                </div>
            </div>*@

            @{
                if (!Model.Work)
                {
                    <div class="chuuou">
                        <!--大項目選択　改修版-->
                        <div id="majorItemSelectBox" class="itemSelectForm inputForm">
                            <a id="choiseMajorItemName">大作業項目を選択</a>
                        </div>
                    </div>

                    <!-- モーダル(大項目選択)-->
                    <div id="maskMajroItemSelect" class="selectModalMask hidden">
                    </div>
                    <div id="modalMajorItemSelet" class="selectModal hidden">
                        <h2><b>作業項目大</b></h2>
                        <div id="majorItemSelectList" class="selectList">
                            @{
                                foreach (var i in Model.SelectMajorWorkItems)
                                {
                                    <div id="selectMajorItem" class="selectItem" onclick="SelectedMajorWorkItem('@i.Value','@i.Text')">
                                        @i.Text
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            <button id="no" type="button" class="btn btn-danger btn-lg"><b>閉じる</b></button>
                        </div>
                    </div>
                }
            }


            <!--作業項目中　選択-->
            <!--
            <div class="chuuou">
                <div id="selectMiddleWorkItemdiv" class="selectdiv">
                    <br/>
                    <label>
                        <select id="selectMiddleWorkItem">
                        </select>
                    </label>
                </div>
            </div>
            -->
            <div class="in"></div>

            <!--中作業項目 改修版-->
            <div class="chuuou spaceTop">
                <div id="middleItemSelectBox" class="itemSelectForm inputForm">
                    <a id="choiseMiddleItemName">中業項目を選択</a>
                </div>
            </div>
            <!-- モーダル(中項目選択)-->
            <div id="maskMiddleItemSelect" class="selectModalMask hidden">
            </div>
            <div id="modalMiddleItemSelet" class="selectModal hidden">
                <h2><b>作業項目中</b></h2>
                <div id="middleItemSelectList" class="selectList">
                </div>
                <div>
                    <button id="closeMiddleItemSelectBoxBtn" type="button" class="btn btn-danger btn-lg"><b>閉じる</b></button>
                </div>
            </div>

            <!--作業項目小　選択-->
            <!--
            <div class="chuuou">
                <div id="selectMinorWorkItemdiv" class="selectdiv">
                    <br />
                    <label>
                        <select id="selectMinorWorkItem">
                        </select>
                    </label>
                </div>
            </div>
            -->
            <!--小作業項目　改修版-->
            <div class="chuuou spaceTop">
                <div id="minorItemSelectBox" class="itemSelectForm inputForm">
                    <a id="choiseMinorItemName">小業項目を選択</a>
                </div>
            </div>
            <!-- モーダル(小項目選択)-->
            <div id="maskMinorItemSelect" class="selectModalMask hidden">
            </div>
            <div id="modalMinorItemSelet" class="selectModal hidden">
                <h2><b>作業項目小</b></h2>
                <div id="minorItemSelectList" class="selectList">
                </div>
                <div>
                    <button id="closeMinorItemSelectBoxBtn" type="button" class="btn btn-danger btn-lg"><b>閉じる</b></button>
                </div>
            </div>

            @{
                if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                {
                    <br />
                    <div class="chuuou">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24"><use xlink:href="#exclamation-triangle-fill" /></svg>
                            <div>
                                @ViewBag.ErrorMessage
                            </div>
                        </div>
                    </div>
                }
            }
            <br id="workBtnSpace" />
             <div class="chuuou">
                <div class="form_conf">
                    <div class='btn-toolbar' role="toolbar">
                        <div class="btn-group" role="group">
                            <div class="d-grid gap-2">
                                @{
                                    if (Model.LatestWorkData is null)
                                    {
                                        <button id="workBtn" class="btn customGreenBtn" type="submit">作業を開始する</button>
                                    }
                                    else
                                    {
                                        if (Model.LatestWorkData.Status == WorkStatus.Start)
                                        {
                                            <button id="workBtn" class="btn customRedBtn" type="submit">作業を終了する</button>
                                        }
                                        if (Model.LatestWorkData.Status == WorkStatus.End)
                                        {
                                            <button id="workBtn" class="btn customGreenBtn" type="submit">作業を開始する</button>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br />
        <div class="chuuou">
            <button class="btn customBulueBtn" onclick="location.href='@Url.Action("index","MajorWorkItem")'">作業項目を作成する</button>
        </div>

        <br />
        <div class="chuuou">
            <h3><b>[本日の作業履歴]</b></h3>
        </div>
        <br />

        <div class="chuuou">
            <table class="table table-sm">
                <tr>
                    <th><div class="text-center">ステータス</div></th>
                    <th><div class="text-center">時間</div></th>
                    <th><div class="text-center">作業項目大</div></th>
                    <th><div class="text-center">作業項目中</div></th>
                    <th><div class="text-center">作業項目小</div></th>
                </tr>
                @{
                    if (Model.WorkInputDatas.Any())
                    {
                        long count = 0;
                        @foreach (var i in Model.WorkInputDatas.Reverse())
                        {
                            count++;
                            string nowStatus = string.Empty;
                            if(count == 1)
                            {
                                nowStatus = "(Now)";
                            }
                            <tr>
                                @if (i.Status == WorkStatus.Start)
                                {
                                    <td>
                                        <div class="text-center">
                                            <p><b style="color:#32cd32">開始 </b><b class="fw-bold">@nowStatus</b></p>
                                        </div>
                                    </td>
                                }
                                @if (i.Status == WorkStatus.End)
                                {
                                    <td>
                                        <div class="text-center">
                                            <p><b style="color:#ff0000">終了 </b><b class="fw-bold">@nowStatus</b></p>
                                        </div>
                                    </td>
                                }

                                <td>
                                    <div class="text-center">
                                        <p class="fw-bold">
                                            @i.TimeStamp.ToString("HH:mm")
                                        </p>
                                    </div>
                                </td>

                                <td>
                                    <div class="text-center">
                                        <p class="fw-bold">
                                            @i.MajorWorkItemName
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        @if (!string.IsNullOrEmpty(i.MiddleWorkItemId))
                                        {
                                            <p class="fw-bold">
                                                @i.MiddleWorkItemName
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="fw-bold">
                                                -
                                            </p>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        @if (!string.IsNullOrEmpty(i.MinorWorkItemId))
                                        {
                                            <p class="fw-bold">
                                                @i.MinorWorkItemName
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="fw-bold">
                                                -
                                            </p>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>
<script src="~/js/home.js" asp-append-version="true"></script>
<style>
    .selectList{
        height: 420px;
        overflow: auto;
    }

    .itemSelectForm {
        /*カーソルは指印*/
        cursor: pointer;
        /*縦棒のカーソルの色を白にした*/
        caret-color: #fff;
    }

    .selectItem {
        cursor: pointer;
        padding: 10px;
        margin: 15px;
        border-radius: 5px;
        max-width: auto;
        min-width: auto;
        background: #fffacd;
        display: block;
        font-weight: bold;
        overflow-wrap: break-word;
        transition: 0s;
    }
        .selectItem:hover {
            background: #ffff00;
        }


    .selectModalMask {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

        .selectModalMask.hidden {
            display: none;
        }

    .selectModal {
        background: #fff;
        color: #555;
        width: 320px;
        height: 550px;
        padding: 20px;
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        margin: 0 auto;
        z-index: 2;
        transition: 0.4s;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

        .selectModal p {
            margin: 0 0 20px;
        }

        .selectModal li {
            list-style: none;
        }

        .selectModal.hidden{
            display: none;
        }


    .spaceTop {
        padding-top: 10px;
    }

    .spaceBottom{
        padding-bottom: 20px;
    }

    .wBSpace{
        display: none;
    }



</style>
